{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% macro recursiveCategory(category) %}
    <li>
        <h4>{# <a href="{{ path(category.route, category.routeParams) }}">{{ category }}</a> #}{{ category.name }}</h4>

        {% if category.children|length %}
            <ul>
                {% for child in category.children %}
                    {{ _self.recursiveCategory(child) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

{% block body %}
<ul>
    {% for category in topLevelCategories %}
        {{_self.recursiveCategory(category)}}
    {% endfor %}
</ul>

{% endblock %}
