body{
	overflow: scroll;
	font-family: verdana;
	background: #F9F9F9;
}

#fMain{
	width: 850px;
	margin: 0px auto;
	overflow: hidden;
}

#fHeader{
	display: block;
	width: 100%;
	height: 150px;
	background: url('radio.phoenix.png') center top no-repeat;
}

#fFooter{
	font-size: 0.70em;
	margin: 10px 0px;
	text-align: center;
	color: #555555;
}

#fMainMessage{
  display: none;
  width: 826px;
  margin: 5px auto;
  overflow: hidden;
  clear: both;
  
  padding: 10px;
  text-align: center;
  
  border: 2px solid #009BE3;
  background: #EEEEEE;
  
  font-size: 0.9em;
}

a, a:link, a:visited{
	color: #0B66A0;
}

a:hover, a:active{
	color: #084470;
}

.jp-audio{
	float: left;
}

.right{
	float: right;
}
		
p{
	padding-left: 10px;
	font-size: 0.8em;
}
			
#fSongs .small{
	font-size: 0.70em;
	display: block;
}

.jp-playlist {
	padding-top: 3px;
	padding-bottom: 3px;
}
					
.jp-songlist {
	background-color: #CCCCCC;
	border-top: 1px solid #009BE3;
	width: 100%;
}

.jp-songlist ul {
	font-size: 0.72em;
	list-style-type: none;
	margin: 0;
	padding: 0 3px 0 8px;
}

.jp-songlist li {
	border-bottom: 1px solid #EEEEEE;
	padding: 5px 0 4px 10px;
	overflow: hidden;
}

.jp-songlist li:last-child {
	border-bottom: medium none;
	padding: 5px 0 5px 10px;
}

.jp-songlist a {
	color: #0D88C1;
	margin-right: 20px;
}

.jp-songlist ul ul {
	font-size: 12px;
}

.jp-songlist ul ul ul {
	font-size: 11px;
}

.jp-songlist div.handleBar {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.jp-songlist div.handleBar:hover {
	cursor: pointer;
}

.jp-songlist i {
	font-size: 11px;
	color: #444444;
	padding: 10px;
}

.songInPlaylist {
	background: url('accept.png') right no-repeat;
}

.jp-search {
	font-size: 11px;
	padding: 10px;
	border-top: 1px solid #009BE3;
}

.jp-search input {
	color: #555555;
}

span.playedAmount {
	float: right;
	font-size: 80%;
	padding: 0.5%;
	padding-right: 16px;
}

#saveListPopup {
	display: none;
	position: absolute;
	height: 120%;
	width: 100%;
	z-index: 9999;
}

#saveListPopup .content {
	margin: 0px auto;
	margin-top: 200px;
	padding: 20px;
	width: 300px;
	border: 2px solid #009BE3;
	background: #999999;
	color:; #D6D6D6;
	font-size: 13px;
}

#saveListPopup #saveListPopupWarn {
	color: #953030;
}

#saveListPopup .results {
	display: none;
	margin: 0px auto;
	margin-top: 200px;
	padding: 20px;
	width: 300px;
	border: 2px solid #009BE3;
	background: #999999;
	color:; #D6D6D6;
	font-size: 13px;
}

#saveListPopup .results div {
	margin: 7px 0px;
}

#saveListPopup a {
	text-decoration: none;
	padding-top: 5px;
}

#messageBox {
	display: none;
	color: #663030;
	background: #EEAEAE;
}

#playlistMessage {
	display: none;
	color: #333333;
	background: #6E9ECC;
}

