{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<ul>
{% for item in items %}
    <li><a href="{{ path(item) }}">{{item}}</a></li> 
{% endfor %}
</ul>
{% endblock %}
