{% extends 'base.html.twig' %}

{% block body %}

<style>
table {
    width:100%;
}
table, th, td {
  border: 1px solid black;
}
</style>

<table>
    <tr>
        <th>#</th>
        <th>Legacy #</th>
        <th>Name</th>
        <th>Category</th>
        <th>Times Played</th>
        <th>Hidden</th>
        <th>File Name</th>
    </tr>
    {% for song in songs %}
        <tr>
            <td>{{ song.id }} <a href="{{path('edit_song', {id: song.id})}}">E</a></td>
            <td>{{ song.legacyId|default("NULL") }}</td>
            <td>{{ song.name }}</td>
            <td>{{ song.category.name }}</td>
            <td>{{ song.timesPlayed|default('0') }}</td>
            <td>{{ song.hidden ? 'Yes' : 'No' }}</td>
            <td>{{ song.file }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}