<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}

        <p><a href="{{path('admin_home')}}">Home</a><p>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
