<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
		<meta charset=utf-8>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

		<title>Radio Phoenix - De muziek speler met alle Corps nummers!</title>
		<meta name="description" content="Een verzameling van alle corporale muzieknummers van de laatste jaren">
		<meta name="keywords" content="radio, phoenix, radiophoenix, corps, student, delft, muziek, knor, feut, phoet">
		<meta name="robots" content="index, follow">
		<meta name="revisit-after" content="1 month">

		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.jplayer.min.js"></script>
		<script type="text/javascript" src="js/jplayer.playlist.min.js"></script>
		<link rel="shortcut icon" href="record.ico" />
		<link href="skin/blue.monday/jplayer.blue.monday.css" rel="stylesheet" type="text/css" />

		<script type="text/javascript" src="radio.phoenix.js"></script>
		<link href="radio.phoenix.css" rel="stylesheet" type="text/css" />
	</head>
	<body>

		<div id="saveListPopup">
			<div class="content">Geef je lijst een naam:<br/>
			<div id="saveListPopupWarn"></div>
			<input type="text" id="saveListPopupName" />
			<input type="button" id="saveListPopupSave" value="Maak lijst" /><br/>
			<a href="javascript:;" id="saveListPopupClose">Sluit venster.</a></div>
			<div class="results"></div>
		</div>

		<div id="fHeader"></div>

    <div id="fMainMessage"></div>

		<div id="fMain">

		<div id="jquery_jplayer_2" class="jp-jplayer"></div>

		<div id="jp_container_2" class="jp-audio">
			<div class="jp-type-playlist">
				<div class="jp-gui jp-interface">
					<ul class="jp-controls">
						<li><a href="javascript:;" class="jp-previous" tabindex="1">previous</a></li>
						<li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
						<li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
						<li><a href="javascript:;" class="jp-next" tabindex="1">next</a></li>
						<li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
						<li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
						<li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
						<li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
					</ul>
					<div class="jp-progress">
						<div class="jp-seek-bar">
							<div class="jp-play-bar"></div>
						</div>
					</div>
					<div class="jp-volume-bar">
						<div class="jp-volume-bar-value"></div>
					</div>
					<div class="jp-time-holder">
						<div class="jp-current-time"></div>
						<div class="jp-duration"></div>
					</div>
					<ul class="jp-toggles">
						<li><a href="javascript:;" class="jp-shuffle" tabindex="1" title="shuffle">shuffle</a></li>
						<li><a href="javascript:;" class="jp-shuffle-off" tabindex="1" title="shuffle off">shuffle off</a></li>
						<li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
						<li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
					</ul>
				</div>
				<div id="playlistMessage" class="jp-gui jp-search">

				</div>
				<div class="jp-playlist">
					<ul>
						<li></li>
					</ul>
				</div>
				<div class="jp-no-solution">
					<span>Update Required</span>
					To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
				</div>
				<div class="jp-gui jp-search">
					<span>Lijst opties: </span>
						<a href="javascript:;" id="emptyList">Lijst leegmaken</a> |
						<a href="javascript:;" id="saveList">Lijst opslaan</a>
					<br/><span>Standaard lijsten: </span>
						<a href="javascript:;" id="listTop20">Top 20</a> |
						<a href="javascript:;" id="listTop100">Top 100</a> |
						<a href="javascript:;" id="listRandom20">20 willekeurige nummers</a>
					<br/><span>Speciaale lijsten: </span>
						<a href="javascript:;" onClick="loadPlaylist(2846);">VP 2015</a>
					<br/><span>Andere lijsten: </span><span id="otherPlaylists"></span>
				</div>
			</div>
		</div>

		<div id="fSongs" class="jp-audio right">
			<div class="jp-type-playlist">
				<div class="jp-gui jp-interface">
					<p>Klik op een nummer om deze toe te voegen aan de afspeellijst.<br/>
					<span class="small">Mail naar admin@freedelft.nl als je een nummertje mist!</span></p>
				</div>
				<div id="messageBox" class="jp-gui jp-search"></div>
				<div class="jp-gui jp-search">
					<span>Zoeken: <input type="text" id="zoeken" /></span>
					<span id="totalViews" class="playedAmount"></span>
				</div>
				<div id="songlist" class="jp-songlist">
									</div>
			</div>
		</div>


		</div>

		<div id="fFooter">
			<span id="totalSongs"></span>
		</div>

	</body>
</html>
